* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #016b61;
}
.logo {
  text-align: center;
}
.app {
  width: 90%;
  background-color: #e5e9c5;
  max-width: 600px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
}
.app h1 {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  border-bottom: 1px solid #000000;
  padding-bottom: 30px;
}

.quiz {
  padding: 20px 0;
}

.quiz h2 {
  font-size: 18px;
  font-weight: 600;
}

.btn {
  background: #fff;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #cccccc;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  padding: 15px;
  margin: 10px 0;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover:not([disabled]) {
  background: #8dbcc7;
  color: #fff;
}

.btn:disabled {
  cursor: no-drop;
}

#nxt-btn {
  background: #8dbcc7;
  color: #000;
  letter-spacing: 0.7px;
  font-size: 16px;
  font-weight: 600;
  width: 150px;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  border: 1px solid #fbfbfbcf;
  cursor: pointer;
  display: block;
}

.correct {
  border: 1px solid green;
  background: #00800017;
}
.incorrect {
  background: #ff000017;
  border: 1px solid red;
}

#congrats-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: none; /* hidden until final */
  z-index: -1; /* stays behind the quiz */
}
@media (max-width: 480px) {
  .logo img {
    width: 100%;
    height: auto;
  }
}
